.start{
    width: 25px;
    height: 25px;
    /* outline: 1px solid rgb(185, 222, 247); */
    background-color: rgb(26, 202, 49);
    display: inline-block;
    vertical-align: top;
  }

.end{
  width: 25px;
  height: 25px;
  background-color: rgb(206, 55, 44);
  display: inline-block;
  vertical-align: top;
}
.empty{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(185, 222, 247);
  display: inline-block;
  vertical-align: top;
}
.wall{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(25, 25, 25);
  display: inline-block;
  vertical-align: top;
}


.temp{
  width: 25px;
  height: 25px;
}

