.start{
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(185, 222, 247);
    display: inline-block;
    vertical-align: top;
  }

.end{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(185, 222, 247);
  display: inline-block;
  vertical-align: top;
}
.empty{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(185, 222, 247);
  display: inline-block;
  vertical-align: top;
}
.wall{
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(185, 222, 247);
  display: inline-block;
  vertical-align: top;
}


.temp{
  width: 25px;
  height: 25px;
}

